<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <%= render '/refinery/head' %>
  <body>
    
    <%= site_bar -%>
    <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
    <div id="page_container">
      <header id="header">
        <%= render '/refinery/header' -%>
      </header>
      <section id="page">
        <%= yield %>
      </section>
      <footer>
        <%= render '/refinery/footer' -%>
      </footer>
    </div>
    <%= render '/refinery/javascripts' %>
    
    <% content_for :javascripts do %>
      <script type="text/javascript" src="http://use.typekit.com/dzs0fdt.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
      <%= javascript_include_tag 'typekit' %>
    <% end %>
  </body>
</html>
